body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}
img {
  box-sizing: border-box;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

h4.amiable {
  background: linear-gradient(to right, #F41212, #BCA8A8)
}


.indifferent {
  border: 1px solid #DDB522;
  box-shadow: -1px 1px #DDB522, -2px 2px #DDB522, -3px 3px #DDB522, -4px 4px #DDB522, -5px 5px #DDB522;
  background-color: #dddd22;
}

h4.indifferent {
  background: linear-gradient(to right, #F41212, #BCA8A8)
}

.dubious {
  border: 1px solid #AF2F2F;
  box-shadow: -1px 1px #AF2F2F, -2px 2px #AF2F2F, -3px 3px #AF2F2F, -4px 4px #AF2F2F, -5px 5px #AF2F2F;
  background-color: #dd4444;
}

h4.dubious {
  background: linear-gradient(to right, #F41212, #BCA8A8)
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
